.hero-section {
    background-color: #f9f6f1;
    margin-top: 15px;
    padding: 5%;
}

.right-content{
    width: 50%;
}

.link {
    text-decoration: underline;
    color: black;
}

.search-form{
    display: flex;
}

.search-input {
    margin-right: 3%;
}